.chip {
    height: 2vh;
    width: min-content;

    align-items: center;
    justify-content: center;

    margin: 5px 1vw;
    padding-inline: 25px;
    padding-block: 10px;

    border-radius: 20px;
    border: 0px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    // background-color: white;
    cursor: pointer;
    background-color: white;


    &:hover {
        box-shadow: rgba(255, 212, 212, 0.1) 0px 20px 25px -5px, rgba(34, 220, 253, 0.2) 0px 10px 10px -5px;
    }

    h5 {
        padding: 0;
        margin: 0;
        font-size: calc((1vh + 1vw) * (1.3 / 2));
        text-align: center;
        color: black;
    }
}
