#navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    height: 8vh;
    width: 100vw;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba( #11151c, 0.9 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
}