#note {
    width: 25vw;
    height: auto;
    display: flex;
    min-width: 200px;

    text-align: start;
    flex-direction: column;
    align-items: flex;
    justify-content: space-evenly;
    
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    
    color: black;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


    .topline{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        .title {
            font-size: calc((1vh + 1vw) * (2 / 2));
            margin: 10px 0px;
            cursor: default;
        }


        .btn-delete{
            color: rgba($color: #000000, $alpha: 0.7);

            cursor: pointer;
            transition: 0.2s ease-in-out;
    
            &:hover{
                color: red;
            }
        }
    }

    
    .content {
        font-size: calc((1vh + 1vw) * (1.3 / 2));
        font-weight: 500;
        height: auto;
    }

    

    

    .baseline{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        cursor: default;


        .time {

            font-size: calc((1vh + 1vw) * (1 / 2));
            color: rgba($color: #000000, $alpha: 0.5);
        }
        

        .tag{
            font-size: calc( (1vh + 1vw) * (1/2));
            color: rgba($color: #000000, $alpha: 0.4);
        }


    }

    &:nth-child(even) {
        grid-column: 1 / span 5;
    }
    &:nth-child(odd) {
        grid-column: 2 / span 5;
    }
}
